body {
  margin: 0;
}

.nav-container {
  height: 50px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  position: absolute;
  top: 70px;
  bottom: auto;
  left: 0%;
  right: 0%;
  margin: auto;
}

.logo-img {
  height: 100%;
  width: auto;
}

.welcome-parent {
  height: 100vh;
  min-height: 100%;
  display: flex;
  position: relative;
}

.left-welcome {
  background-color: rgba(40, 238, 167, 0.93);
  background-image: linear-gradient(
      rgba(40, 238, 167, 0.93),
      rgba(40, 238, 167, 0.93)
    ),
    url(../src/images/background-img1.png);
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-clip: border-box;
  background-size: cover;
  justify-content: flex-end;
  align-self: auto;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.right-welcome {
  background-color: #363738;
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.85),
      rgba(35, 35, 35, 0.85)
    ),
    url(../src/images/background-img2.png);
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.welcome-left-container {
  width: 100%;
  height: 40vh;
  max-height: 100vh;
  max-width: 670px;
  align-items: flex-end;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-right: 50px;
  padding-right: 70px;
}

.welcome-title-1 {
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 900;
  text-align: right;
  text-transform: uppercase;
}

.left-sub-h1-1 {
  color: #fcfcfc;
  background-color: #363738;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 21px;
  line-height: 2.5;
  display: inline;
}

.left-sub-h1-2 {
  color: #363738;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 36px;
  line-height: 1;
  display: inline;
}

.welcome-desctiption-1 {
  width: 80%;
  height: 100px;
  text-align: right;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 20px;
  color: #363738;
}

.welcome-left-button {
  background-color: rgba(35, 35, 35, 0.9);
  color: #fcfcfd;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 14px 19px;
  font-weight: 800;
  font-family: Noto Sans Mono, sans-serif;
  text-decoration: none;
}

.welcome-right-container {
  width: 100%;
  height: 40vh;
  max-height: 100vh;
  max-width: 670px;
  flex-flow: column;
  justify-content: flex-start;
  display: flex;
  color: #fcfcfd;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 70px;
}

.welcome-title-2 {
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
}

.right-sub-h1-1 {
  background-color: #fcfcfc;
  color: #363738;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 2.5;
  display: inline;
}

.welcome-description-2 {
  width: 80%;
  height: 100px;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 20px;
}

.welcome-right-button {
  color: rgba(35, 35, 35, 0.9);
  background-color: #fcfcfd;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 14px 19px;
  font-weight: 800;
  font-family: Noto Sans Mono, sans-serif;
  text-decoration: none;
}

.hello-world-section {
  background-color: #f1f2f3;
  padding: 70px 70px;
}

.hello-world-container {
  max-width: 1200px;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: auto;
}

.hello-world-header {
  display: flex;
}

.arrow-symbol {
  color: #28eea7;
  font-family: Noto Sans Mono, sans-serif;
  padding: 10px 20px;
  padding-right: 0;
  font-size: 2rem;
  font-weight: bolder;
}

.hello-world-title {
  font-family: Noto Sans Mono, sans-serif;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 900;
  color: rgba(35, 35, 35, 0.9);
}

.circle-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.black-circle {
  width: 24px;
  height: 24px;
}

.grey-circle {
  width: 24px;
  height: 24px;
}

.green-circle {
  width: 24px;
  height: 24px;
}

.white-circle {
  width: 24px;
  height: 24px;
}

.video-container {
  height: auto;
  margin-top: 5%;
  width: 100%;
}

.video-img {
  width: fit-content;
}

.milestones-section {
  background-color: #f1f2f3;
  padding: 70px 70px;
}

.milestones-container {
  max-width: 1200px;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: auto;
}

.milestones-header {
  display: flex;
}

.milestones-title {
  font-family: Noto Sans Mono, sans-serif;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 900;
  color: rgba(35, 35, 35, 0.9);
}

.milestones-section {
  background-color: white;
}

.milestones-container {
  max-width: 1200px;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: auto;
}

.milestones-body {
  height: 500px;
  /* flex: 1; */
  justify-content: space-around;
  /* align-items: flex-start; */
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.milestones-left {
  height: 320px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: #f1f2f3;
  border-radius: 20px;
  align-items: flex-start;
  padding: 70px 60px;
}

.milestones-percentage {
  color: #363738;
  text-align: center;
  font-size: 120px;
  font-weight: 900;
  text-align: left;
  font-family: Noto Sans Mono, sans-serif;
}

.milestones-success-rate {
  font-size: 32px;
  font-weight: 900;

  font-family: Noto Sans Mono, sans-serif;
  color: #363738;
  text-align: left;
}

.milestones-bullet-points {
  font-family: Noto Sans Mono, sans-serif;
  color: #363738;
  line-height: 1.4;
}

.milestones-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.milestones-right-top {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-radius: 20px;
}

.milestones-right-bot {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
}

.milstones-right-top-1 {
  background-color: #f1f2f3;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  display: flex;
  padding: 40px;
  padding-right: 60px;
  gap: 20px;
}

.milestones-righ-top-2 {
  background-color: #f1f2f3;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  display: flex;
  padding: 40px;
  gap: 20px;
}

.milstones-right-bot-1 {
  background-color: #f1f2f3;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  display: flex;
  padding: 40px;
  gap: 20px;
}

.milestones-righ-bot-2 {
  background-color: #f1f2f3;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  display: flex;
  padding: 40px;
  gap: 20px;
}

.top-text {
  color: #363738;
  font-size: 64px;
  text-align: left;
  font-weight: 900;
  font-family: Noto Sans Mono, sans-serif;
}

.bot-text {
  color: #363738;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  font-family: Noto Sans Mono, sans-serif;
}

.programs-section {
  background-color: rgb(255, 198, 53);
  padding: 70px 0;
}

.programs-container {
  max-width: 1200px;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: auto;
}

.programs-header {
  display: flex;
}

.bg-black {
  background-color: #363738;
}

.programs-title {
  font-family: Noto Sans Mono, sans-serif;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 900;
  background-color: #363738;
  color: #fcfcfd;
}

.programs-body {
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
  display: flex;
  height: auto;
}

.tabs-menu {
  display: flex;
}

.tab-fcs {
  border-radius: 10px 10px 0 0;
  padding: 20px 50px;
  font-weight: 900;
  background-color: #363738;
  font-family: Noto Sans Mono, sans-serif;
  color: rgb(255, 198, 53);
}

.tabs {
  border-radius: 10px 10px 0 0;
  padding: 20px 50px;
  font-weight: 900;
  font-family: Noto Sans Mono, sans-serif;
  color: #363738;
}

.programs-container-parent {
  height: 100%;
  border-radius: 0 20px 20px 20px;
  flex-direction: row;
  padding: 20px;
  justify-content: flex-start;
  display: flex;
  background-color: #363738;
  justify-content: space-between;
}

.programs-container-child1 {
  padding: 20px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  display: flex;
}

.programs-container-child2-img {
  width: 400px;
  height: 400px;
  min-height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.fc-title {
  text-align: left;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.4;
  color: #fcfcfd;
  align-self: stretch;
  font-family: Noto Sans Mono, sans-serif;
}

.yellow {
  color: #ffc635;
}

.fcs-description {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
  font-family: Noto Sans Mono, sans-serif;
  color: #a5a6a9;
}

.program-block {
  align-self: stretch;
  margin-top: auto;
  display: flex;
}

.date-section {
  flex: none;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  color: #fcfcfd;
  text-align: left;
  font-family: Noto Sans Mono, sans-serif;
}

.date {
  margin-left: 10px;
  font-weight: 900;
  border: 1px solid red;
  padding: 4px;
}

.learn-more {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
  color: #fcfcfd;
  text-align: right;
  margin-left: auto;
  font-weight: 900;
  font-family: Noto Sans Mono, sans-serif;
}
